body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bbb;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    text-align: center;
    width: 22em;
}

input {
    width: 22em;
    padding: 10px;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

button {
    width: 7em;
    padding: 0.8em;
    background: blue;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

#message {
    color: red;
    margin-top: 10px;
}

.mantener-sesion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espacio entre el checkbox y el texto */
    margin: 10px 0;
}

.mantener-sesion input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.mantener-sesion label {
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
