body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  background: linear-gradient(to bottom, black 30%, #3533cd 100%);
  height: 679px;
}

#container {
  width: 100%;
  height: 650px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

#uno {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100px;
  height: 650px;
}

#barraBusqueda {
  display: flex;
  align-items: flex-start;
  padding: 25px 20px;
  border-radius: 15px;
  width: 450px;
  height: 5%;
}
#busqueda {
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  width: 450px;
  background-color: #3533cd66;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.botonesMapa {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
  margin-left: 10px;
}

.botonesMapa button {
  align-items: center;
  cursor: pointer;
  font-size: small;
  margin: 5px;
  height: 37px;
  width:100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  color: #ffffff;
  background-color: #f2aa9200;
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          outline-color: rgba(255, 255, 255, 0.5);
          outline-offset: 0px;
}
        
.botonesMapa button:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

#map {
  height: 570px;
  width: 87%;
  border-radius: 15px;
  border:1px solid #ffffff;
  position: absolute;
  left: 150px;
  top: 100px;
  z-index: 1;
}

aside {
  z-index: 2;
  width: 20%;
  height: 677px;
  border:1px solid #3533cd;
  border-radius: 15px 0px 0px 15px;
  background: linear-gradient(to bottom, #000000d1 30%, #3533cdb3 100%);
  align-self: start;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:50px;
}
#mundo{
  width: 15px;
  height: 15px;
}
#corazon{
  width: 15px;
  height: 15px;
}
#personas{
  width: 35px;
  height: 25px;
}
#mensaje{
  width: 50px;
  height: 40px;
}
#logo{
  width: 130px;
  height: 100px;
}
#logoUno {
  width: 45px;
  height: 35px;
}
#mas{
  width: 10px;
  height: 10px;
}

#tituloNombre{
  font-size:medium;
  display: flex;
  width: 100%;
  color: #ffffff;
  align-self: flex-end;
  justify-self: end;
  justify-content: baseline;
}

#tituloNombre h3{
  padding-top: 0cm;
}

 #seccionSpot {
  width: 100%;
  height: 60%;
  justify-content: center;
  gap:10px;
  align-items: center;
  color: #ffffff;
  font-size:medium;
}
.crearSpotInput{
  margin:7px;
  height: 30px;
  width: 70%;
  border-radius: 20px;
  border: none;
  flex-direction: column;
  padding: 5px;
}
#seccionSpot select{
  height: 35px;
  width: fit-content;
  border-radius: 15px;
  border: none;
  padding: 10px;
}
#botonCrear {
  cursor: pointer;
  color:white;
  border: 1px solid white;
  padding: 7px 17px;
  width:fit-content;
  border-radius: 15px;
  background-color: #000000bd;
}


#seccionAmigos {
  width: 100%;
  height: 60%;
  justify-content: center;
  gap:20px;
  align-items: center;
  color: #ffffff;
  font-size:medium;
}
#seccionAmigos input {
  margin:7px;
  height: 30px;
  width: 70%;
  border-radius: 20px;
  border: none;
  flex-direction: column;
  padding: 5px;
}
#seccionAmigos li{
  width:fit-content;
}
#addFriendButton {
  cursor: pointer;
  color:white;
  border: 1px solid white;
  padding: 7px 17px;
  width:fit-content;
  border-radius: 15px;
  background-color: #000000bd;
}


#seccionGrupos{
  color:white;
  font-size:medium;
}
#seccionGrupos li{
  width:fit-content;
}
#groupName{
  margin:7px;
  height: 30px;
  width: 70%;
  border-radius: 20px;
  border: none;
  flex-direction: column;
  padding: 5px;
}
#crearGrupoBoton{
  cursor: pointer;
  color:white;
  border: 1px solid white;
  padding: 7px 17px;
  width:fit-content;
  border-radius: 15px;
  background-color: #000000bd;
}


.botones {
  display: flex;
  margin:5px;
  width: 100%;
  height: 10%;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
#flecha{
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 20px
}